@font-face {
    font-family: 'KatahdinRound';
    src: url('./KatahdinRound.woff');
}

*{
    color: #FFC470;
    font-family: 'KatahdinRound';
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #8B322C;
}

header{
    width: 100%;
    height: 300px;
    background-color: #DD5746;
}

nav{
    display: flex;
    align-items: center;
}

#logoContainer{
    display: flex;
    align-items: center;
    width: 50%;
    height: 250px;
}

#logo{
    background: url('./logo.png');
    background-size: contain;
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
}

.line{
    background-color: #FFC470;
    border-radius: 25px;
    width: 2px;
    height: 220px;
    margin-top: 25px;
}

.slogan{
    width: 900px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 35px;
    margin-left: 50px;
    margin-top: 50px;
}

.btnContainer{
    display: flex;
    margin-top: 25px;
}

#btn{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    margin: 0 10px;
    border: none;
    transition: .2s;
}

.home{
    background: url('./Home\ \(1\).png');
    background-size: contain;
    background-repeat: no-repeat;
}

.menu{
    background: url('./MenuIcon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.contact{
    background: url('./Contact.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.homePage{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 55% 45%;
}

.homeText{
    margin-left: 30px;
    font-size: 24px;
}

.Images{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 226px 226px;
    gap: 10px;
}

#img1{
    background: url('./pizza.png');
    object-fit: fill;
    border-radius: 10px;
}

#img2{
    background: url('./burger.jpg');
    object-fit: fill;
    border-radius: 10px;
}

#img3{
    background: url('./tacos.jpg');
    object-fit: fill;
    border-radius: 10px;
    width: 810px;
}

.menuPage{
    display: flex;
}

.menuContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 350px);
}

.menuItem{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    margin: 20px;
    background-color: #DD5746;
    display: flex;
    flex-direction: column;
    padding: 30px;
    transition: 0.2s;
}

.menuItem:hover{
    transform: scale(1.05);
}

.title{
    font-size: 28px;
}

.info{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 200px 300px;
    gap: 30px;
}

.pic{
    width: 200px;
    height: 200px;
    background-color: white;
    background-size: contain;
    border-radius: 10px;
}

.pricing{
    display: flex;
    flex-direction: column;
}

.price{
    font-size: 50px;
    margin-bottom: 5px;
}

.ingridients{
    font-size: 20px;
    color: #8B322C;
}

.like{
    margin-top: auto;
    margin-left: auto;
    width: 50px;
    height: 50px;
    background-size: cover; 
    background-color: transparent;
    border: none;
    background-image: url('./heartnofull.png');
}

.like:hover{
    cursor: pointer;
}

.clicked{
    background-image: url('./heartfull.png');
}